@font-face {
    font-family: revamped;
    src: url(font/Revamped.otf);
}

body {
    background-color: #fbeb01;
    font-family:revamped;
    display: flex;
    justify-content: center;
}

.column {
    text-align: center;
}

h1 {
    font-size: 65px;
    margin: 20px 0;
}

h3 {
    font-size: 45px;
    margin: 80px 0 0 0;
}

#score {
    margin: 0;
    font-size:200px
}

#choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice {
    transition: transform .2s; /* Animation */
    z-index: 2;
}

.choice:hover {
    height: 110%;
    width: auto;
    transform: scale(1.2);
}

#message {
    font-size: 25px;
}

#again {
    font-family: revamped;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #fbeb01;
    transition: transform .2s;
}

#again:hover {
    transform: scale(1.2);
    background-color: #ffffff;
}

#left{
    flex: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
}

#right {
    flex: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
}

#mid {
    flex: 38%;
    text-align: center;
}

.choiceHeader {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0 13px 0;
    z-index: 3;
}

.compChoice {
    z-index: 2;
    transition: transform .2s; /* Animation */
}

.chosen {
    height: 110%;
    width: auto;
    transform: scale(1.2);
}